.talons_page_grid{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    > :nth-child(1){
        width:  282px;
        @media screen and (max-width: 758px) {
            width: 100%;
        }
    }
    > :nth-child(2){
        width: calc(100% - 302px);
        padding-left: 20px;
        @media screen and (max-width: 758px) {
            width: 100%;
            padding-left: 0;
        }
    }
}

.left_menu_panel{
    margin-top: 61px;
    @media screen and (max-width: 758px) {
        margin-top: 0;
    }
    text-align: center;
    a{
        color: rgb(51, 51, 51);
    }
    > div{
        padding: 5px 30px;
        border: 1px solid grey;
        &.active{
            background: #d0e5c1;
        }
    }
}