.doctors_table {
    margin-top: 20px;
    overflow-x: auto;

    .table {
        min-width: 400px;
    }
}

.table {
    display: table;
    width: 99%;
    border-collapse: collapse;
    text-align: center;

    > * {
        display: table-row;

        &.head {
            font-weight: bold;

            > * {
                padding: 15px 0;
            }
        }

        > * {
            display: table-cell;
            border: 1px solid grey;
            vertical-align: middle;
            padding: 5px;
        }
    }
}
