@mixin animation($keyframe, $duration, $iteration, $timing-function) {
    -webkit-animation: $keyframe $duration $iteration $timing-function;
    animation: $keyframe $duration $iteration $timing-function;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}


.relative_container{
  min-height: 200px;
  position: relative;
}

.loader_wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);

    &.local {
        position: absolute;
        height: 200px;
        > .loader{
          margin: 123px auto;
        }
    }

    &.no_back {
        background: transparent;
    }
}

.loader {
    color: #ffffff;

    
    font-size: 14px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 42vh auto 0 auto;

    @include transform(translateZ(0));
    @include animation(load5, 1.1s, infinite, ease);

    &.dark {
      color: black;
      @include animation(load5_dark, 1.1s, infinite, ease);
  }
}

@mixin keyframe($name, $r, $g, $b) {
    @-webkit-keyframes #{$name} {
        0%,
        100% {
            box-shadow: 0em -2.6em 0em 0em rgb($r, $g, $b), 1.8em -1.8em 0 0em rgba($r, $g, $b, 0.2), 2.5em 0em 0 0em rgba($r, $g, $b, 0.2), 1.75em 1.75em 0 0em rgba($r, $g, $b, 0.2), 0em 2.5em 0 0em rgba($r, $g, $b, 0.2), -1.8em 1.8em 0 0em rgba($r, $g, $b, 0.2), -2.6em 0em 0 0em rgba($r, $g, $b, 0.5), -1.8em -1.8em 0 0em rgba($r, $g, $b, 0.7);
        }

        12.5% {
            box-shadow: 0em -2.6em 0em 0em rgba($r, $g, $b, 0.7), 1.8em -1.8em 0 0em rgb($r, $g, $b), 2.5em 0em 0 0em rgba($r, $g, $b, 0.2), 1.75em 1.75em 0 0em rgba($r, $g, $b, 0.2), 0em 2.5em 0 0em rgba($r, $g, $b, 0.2), -1.8em 1.8em 0 0em rgba($r, $g, $b, 0.2), -2.6em 0em 0 0em rgba($r, $g, $b, 0.2), -1.8em -1.8em 0 0em rgba($r, $g, $b, 0.5);
        }

        25% {
            box-shadow: 0em -2.6em 0em 0em rgba($r, $g, $b, 0.5), 1.8em -1.8em 0 0em rgba($r, $g, $b, 0.7), 2.5em 0em 0 0em rgb($r, $g, $b), 1.75em 1.75em 0 0em rgba($r, $g, $b, 0.2), 0em 2.5em 0 0em rgba($r, $g, $b, 0.2), -1.8em 1.8em 0 0em rgba($r, $g, $b, 0.2), -2.6em 0em 0 0em rgba($r, $g, $b, 0.2), -1.8em -1.8em 0 0em rgba($r, $g, $b, 0.2);
        }

        37.5% {
            box-shadow: 0em -2.6em 0em 0em rgba($r, $g, $b, 0.2), 1.8em -1.8em 0 0em rgba($r, $g, $b, 0.5), 2.5em 0em 0 0em rgba($r, $g, $b, 0.7), 1.75em 1.75em 0 0em rgb($r, $g, $b), 0em 2.5em 0 0em rgba($r, $g, $b, 0.2), -1.8em 1.8em 0 0em rgba($r, $g, $b, 0.2), -2.6em 0em 0 0em rgba($r, $g, $b, 0.2), -1.8em -1.8em 0 0em rgba($r, $g, $b, 0.2);
        }

        50% {
            box-shadow: 0em -2.6em 0em 0em rgba($r, $g, $b, 0.2), 1.8em -1.8em 0 0em rgba($r, $g, $b, 0.2), 2.5em 0em 0 0em rgba($r, $g, $b, 0.5), 1.75em 1.75em 0 0em rgba($r, $g, $b, 0.7), 0em 2.5em 0 0em rgb($r, $g, $b), -1.8em 1.8em 0 0em rgba($r, $g, $b, 0.2), -2.6em 0em 0 0em rgba($r, $g, $b, 0.2), -1.8em -1.8em 0 0em rgba($r, $g, $b, 0.2);
        }

        62.5% {
            box-shadow: 0em -2.6em 0em 0em rgba($r, $g, $b, 0.2), 1.8em -1.8em 0 0em rgba($r, $g, $b, 0.2), 2.5em 0em 0 0em rgba($r, $g, $b, 0.2), 1.75em 1.75em 0 0em rgba($r, $g, $b, 0.5), 0em 2.5em 0 0em rgba($r, $g, $b, 0.7), -1.8em 1.8em 0 0em rgb($r, $g, $b), -2.6em 0em 0 0em rgba($r, $g, $b, 0.2), -1.8em -1.8em 0 0em rgba($r, $g, $b, 0.2);
        }

        75% {
            box-shadow: 0em -2.6em 0em 0em rgba($r, $g, $b, 0.2), 1.8em -1.8em 0 0em rgba($r, $g, $b, 0.2), 2.5em 0em 0 0em rgba($r, $g, $b, 0.2), 1.75em 1.75em 0 0em rgba($r, $g, $b, 0.2), 0em 2.5em 0 0em rgba($r, $g, $b, 0.5), -1.8em 1.8em 0 0em rgba($r, $g, $b, 0.7), -2.6em 0em 0 0em rgb($r, $g, $b), -1.8em -1.8em 0 0em rgba($r, $g, $b, 0.2);
        }

        87.5% {
            box-shadow: 0em -2.6em 0em 0em rgba($r, $g, $b, 0.2), 1.8em -1.8em 0 0em rgba($r, $g, $b, 0.2), 2.5em 0em 0 0em rgba($r, $g, $b, 0.2), 1.75em 1.75em 0 0em rgba($r, $g, $b, 0.2), 0em 2.5em 0 0em rgba($r, $g, $b, 0.2), -1.8em 1.8em 0 0em rgba($r, $g, $b, 0.5), -2.6em 0em 0 0em rgba($r, $g, $b, 0.7), -1.8em -1.8em 0 0em rgb($r, $g, $b);
        }
    }

    @keyframes #{$name} {
        0%,
        100% {
            box-shadow: 0em -2.6em 0em 0em rgb($r, $g, $b), 1.8em -1.8em 0 0em rgba($r, $g, $b, 0.2), 2.5em 0em 0 0em rgba($r, $g, $b, 0.2), 1.75em 1.75em 0 0em rgba($r, $g, $b, 0.2), 0em 2.5em 0 0em rgba($r, $g, $b, 0.2), -1.8em 1.8em 0 0em rgba($r, $g, $b, 0.2), -2.6em 0em 0 0em rgba($r, $g, $b, 0.5), -1.8em -1.8em 0 0em rgba($r, $g, $b, 0.7);
        }

        12.5% {
            box-shadow: 0em -2.6em 0em 0em rgba($r, $g, $b, 0.7), 1.8em -1.8em 0 0em rgb($r, $g, $b), 2.5em 0em 0 0em rgba($r, $g, $b, 0.2), 1.75em 1.75em 0 0em rgba($r, $g, $b, 0.2), 0em 2.5em 0 0em rgba($r, $g, $b, 0.2), -1.8em 1.8em 0 0em rgba($r, $g, $b, 0.2), -2.6em 0em 0 0em rgba($r, $g, $b, 0.2), -1.8em -1.8em 0 0em rgba($r, $g, $b, 0.5);
        }

        25% {
            box-shadow: 0em -2.6em 0em 0em rgba($r, $g, $b, 0.5), 1.8em -1.8em 0 0em rgba($r, $g, $b, 0.7), 2.5em 0em 0 0em rgb($r, $g, $b), 1.75em 1.75em 0 0em rgba($r, $g, $b, 0.2), 0em 2.5em 0 0em rgba($r, $g, $b, 0.2), -1.8em 1.8em 0 0em rgba($r, $g, $b, 0.2), -2.6em 0em 0 0em rgba($r, $g, $b, 0.2), -1.8em -1.8em 0 0em rgba($r, $g, $b, 0.2);
        }

        37.5% {
            box-shadow: 0em -2.6em 0em 0em rgba($r, $g, $b, 0.2), 1.8em -1.8em 0 0em rgba($r, $g, $b, 0.5), 2.5em 0em 0 0em rgba($r, $g, $b, 0.7), 1.75em 1.75em 0 0em rgb($r, $g, $b), 0em 2.5em 0 0em rgba($r, $g, $b, 0.2), -1.8em 1.8em 0 0em rgba($r, $g, $b, 0.2), -2.6em 0em 0 0em rgba($r, $g, $b, 0.2), -1.8em -1.8em 0 0em rgba($r, $g, $b, 0.2);
        }

        50% {
            box-shadow: 0em -2.6em 0em 0em rgba($r, $g, $b, 0.2), 1.8em -1.8em 0 0em rgba($r, $g, $b, 0.2), 2.5em 0em 0 0em rgba($r, $g, $b, 0.5), 1.75em 1.75em 0 0em rgba($r, $g, $b, 0.7), 0em 2.5em 0 0em rgb($r, $g, $b), -1.8em 1.8em 0 0em rgba($r, $g, $b, 0.2), -2.6em 0em 0 0em rgba($r, $g, $b, 0.2), -1.8em -1.8em 0 0em rgba($r, $g, $b, 0.2);
        }

        62.5% {
            box-shadow: 0em -2.6em 0em 0em rgba($r, $g, $b, 0.2), 1.8em -1.8em 0 0em rgba($r, $g, $b, 0.2), 2.5em 0em 0 0em rgba($r, $g, $b, 0.2), 1.75em 1.75em 0 0em rgba($r, $g, $b, 0.5), 0em 2.5em 0 0em rgba($r, $g, $b, 0.7), -1.8em 1.8em 0 0em rgb($r, $g, $b), -2.6em 0em 0 0em rgba($r, $g, $b, 0.2), -1.8em -1.8em 0 0em rgba($r, $g, $b, 0.2);
        }

        75% {
            box-shadow: 0em -2.6em 0em 0em rgba($r, $g, $b, 0.2), 1.8em -1.8em 0 0em rgba($r, $g, $b, 0.2), 2.5em 0em 0 0em rgba($r, $g, $b, 0.2), 1.75em 1.75em 0 0em rgba($r, $g, $b, 0.2), 0em 2.5em 0 0em rgba($r, $g, $b, 0.5), -1.8em 1.8em 0 0em rgba($r, $g, $b, 0.7), -2.6em 0em 0 0em rgb($r, $g, $b), -1.8em -1.8em 0 0em rgba($r, $g, $b, 0.2);
        }

        87.5% {
            box-shadow: 0em -2.6em 0em 0em rgba($r, $g, $b, 0.2), 1.8em -1.8em 0 0em rgba($r, $g, $b, 0.2), 2.5em 0em 0 0em rgba($r, $g, $b, 0.2), 1.75em 1.75em 0 0em rgba($r, $g, $b, 0.2), 0em 2.5em 0 0em rgba($r, $g, $b, 0.2), -1.8em 1.8em 0 0em rgba($r, $g, $b, 0.5), -2.6em 0em 0 0em rgba($r, $g, $b, 0.7), -1.8em -1.8em 0 0em rgb($r, $g, $b);
        }
    }
}

@include keyframe('load5', 255, 255, 255);

@include keyframe('load5_dark', 0, 0, 0);