.filter_panel {
    display: flex;
    flex-wrap: wrap;
    .filter_form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        > * {
            width: calc(25% - 4px);
            margin: 2px;
            box-sizing: border-box;
            text-align: center;
            @media screen and (max-width: 1045px) {
                width: calc(50% - 4px);
            }
           
        }

        .submit {
            margin-left: auto;
        }
    }
}

.filter_res{
    text-align: center;
    width: 100%;
    margin-top: 16px;
    > div{
        font-size: 14px;
    }
}