.talon_modal_body{
  text-align: center;
  font-size: 16px;
}
.talon_modal_footer{
  text-align: right;
  padding: 10px;
  > button {
    margin-left: 10px
  }
}

.relative_container{
  min-height: 200px;
  position: relative;
}