.img_section{
    display: flex;
    flex-wrap: wrap;
    > :nth-child(1){
        width: 30%;
        @media screen and (max-width: 680px) {
            width: 100%;
        }
    }
    > :nth-child(2){
        width: 70%;
        @media screen and (max-width: 680px) {
            width: 100%;
        }
    }
}
