$baseColor: #1c6200;

.register_scene {
    width: 700px;
    margin: 0 auto;

    @media (max-width: 500px) {
        width: 100%;
    }

    .input_row {
        display: flex;
        margin-bottom: 10px;
        flex-wrap: wrap;
        font-size: 20px;

        > :nth-child(1) {
            width: 300px;

            @media (max-width: 728px) {
                width: 100%;
            }

            i {
                color: $baseColor;
            }
        }

        > :nth-child(2) {
            width: calc(100% - 300px);
            height: 38px;
            @media (max-width: 728px) {
                width: 100%;
            }

            &.invalid {
                border: 1.5px solid #a20606;
                box-shadow: 0px 0px 3px 0px #a20606;
            }
        }
    }

    .error_msg {
        text-align: right;
        width: 100%;
        color: #a20606;
        padding-right: 5px;
    }
}
