.horizontal_line{
    border: 3px solid grey;
}

.footer{
    display: flex;
    @media screen and (max-width: 600px){
        flex-wrap: wrap;
    }
    .left_section{
        padding-top: 16px;
        display: flex;
    }
    .social_network_logo{
        background-image: url('./../img/social_networks.png');
        background-size: contain;
        height: 59px;
        width: 260px;
    }
    .right_section{
        margin-left: auto;
    }
}