.open{
    visibility: visible;
}

.close{
    visibility: hidden;
}

.modal_wrapper{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 0;
    position: fixed;
    overflow: auto;
    opacity: 0;
    transition: all .15s linear;
    &.open{
        opacity: 1;
        height:100%;
        top: 0;
        left: 0;
        .modal{
            opacity: 1;
            margin-top: 30px;
            min-height: 100px;
            height: auto;
        }
    }
}

.modal{
    width: 500px;
    max-width: 90%;
    margin: -50px auto 30px auto;
    background: white;
    box-shadow: 0px 0px 8px;
    border: 1px solid grey;
    border-radius: 10px;
    height: 0;
    opacity: 0;
}

.modal_header {
    display: flex;
    padding: 8px;
    border-bottom: 1px solid lightgrey;
}

.modal_close{
    background: transparent;
    border: none;
    color: black;
    padding: 2px;
    &:hover{
        background: transparent;
    }
}

.modal_title{
    text-align: center;
    flex: 1 0 auto;
    align-self: flex-start;
    height: 100%;
    margin: 3px;
}

.modal_content{
    padding: 8px;
}
.modal_footer{
    border-top: 1px solid lightgrey;
}

.modal_animate{
    transition: all .3s ease-out;
}