$baseColor: #1c6200;

.login_scene {
    width: 500px;
    margin: 0 auto;

    @media (max-width: 500px) {
        width: 100%;
    }

    .input_row {
        display: flex;
        margin-bottom: 10px;
        flex-wrap: wrap;

        input {
            width: calc(100% - 30px);
            font-size: 20px;

            &.invalid {
                border: 1px solid #a20606;
                box-shadow: 0px 0px 3px 0px #a20606;
            }
        }

        label {
            font-size: 20px;
            width: 30px;
            text-align: center;
            i {
                color: $baseColor;
                vertical-align: middle;
            }
        }
    }

    .submit_section {
        margin-top: 10px;
    }
}

.error_msg {
    text-align: right;
    width: 100%;
    color: #a20606;
    padding-right: 5px;
}
