$aligns : (right, left, center);
$baseColor: #1c6200;

@each $align in $aligns{
    .text_#{$align}{
        text-align: $align;
    }
};

.horizontal_line{
    border: 3px solid grey;
}

img, input{
    width: 100%;
}

body{
    font-family: "Arial Обычный", Arial;
    color: rgb(51, 51, 51);
}

button{
    background: $baseColor;
    border-style: none;
    padding: 5px 30px;
    border-radius: 7px;
    color: white;
    outline: none;
    &:hover{
        background: green;
    }
    &.big{
        font-size: 15px;
        padding: 8px 26px;
    }
    &.inactive{
        background: white;
        color: #757575;
        border: 0.5px solid grey;
        &:hover{
            background: #f1f1f1;
            color: #333333;
        }
    }
    &:disabled, &[disabled]{
        opacity: 0.8;
        cursor: not-allowed;
    }
}

h1, h2, h3, h4{
    color: $baseColor;
}

a{
    color: $baseColor;
    text-decoration-line: none;
    &:visited{
        color: $baseColor;
    }
}

input{
    border-radius: 16px;
    border: 2px solid lightgray;
    outline: none;
    padding: 5px 10px;
    font-size: 16px;
    box-sizing: border-box;
}

label{
    padding: 5px 0;
}

div{
    font-size: 13px;
}

.bold_par{
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: bold;
}

select[name='talonDate']{
    width: 70%;
}
select[name='doctorType']{
    min-width: 150px;
}

.no_results_found{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: 58px 0;
}

.danger_global_msg{
    text-align: center;
    margin: 12px;
    box-shadow: 0px 0px 3px 0px #a20606;
    border-radius: 6px;
    padding: 5px;
    background: #a206061a;
    color: #a20606;
    font-weight: bold;
    font-size: 15px;
}