.header {
    display: flex;
    flex-wrap: wrap;
    .header_left_section {
        width: 70%;
        display: flex;
        @media screen and (max-width: 758px) {
            width: 100%;
        }
        .header_image {
            max-height: 112px;
            width: auto;
        }

        .header_logo {
            margin-top: 44px;
            margin-left: 32px;
        }
    }

    .header_section_login {
        width: 30%;
        @media screen and (max-width: 758px) {
            width: 100%;
            margin-top: 0;
        }
        margin-top: 30px;
    }
}

.horizontal_line {
    border: 3px solid grey;
}
